.button {
  background-color: rgba(var(--scale-100-rgb), 0.1);
  color: var(--scale-100);
  padding: 0.25rem 0.5rem;
  border: 0;

  &:hover {
    background-color: var(--scale-700);
    transition: all 0.3s ease;
  }
}
