// Content Preview:
// Cards that display a sample of data (blog, project) on the home page, or on the 
// corresponding index page.

.content-preview {
  display: flex;

  img {
    padding: var(--padding-sm);
    max-width: 50%;
    height: auto;
  }
}

.content-preview__content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 12px;
  height: 100%;
  padding: 1.5rem;

  h2 {
    &:hover {
      color: var(--scale-200);
    }
  }

  .link-row {
    display: flex;
    justify-content: space-between;
  }

  svg {
    width: 24px;
  }
}
