@use "~/styles/abstracts/variables" as *;

.link {
  color: var(--color-link);
  text-decoration: underline;
  text-decoration-thickness: 1px;

  &:hover {
    color: var(--color);
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

.tag {
  padding: 0.1rem 0.3rem;
  border-radius: 6px;
  background-color: var(--color-tag);
  color: var(--color-tag-foreground);
  font-size: 0.8rem;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

input {
  padding: var(--spacing-small);
  border: $border;
  font-size: 1rem;
  color: var(--foreground);
  background: var(--background);
  outline: none;
  transition: box-shadow 150ms ease-in-out;

  &:focus {
    box-shadow: 0 0 0 2px var(--color);
  }
}

textarea {
  padding: var(--spacing-small);
  border: $border;
  font-size: 1rem;
  color: var(--foreground);
  background: var(--background);
  resize: none;
  min-height: 128px;
  outline: none;
  transition: box-shadow 150ms ease-in-out;

  &:focus {
    box-shadow: 0 0 0 2px var(--color);
  }
}
