.preview-card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1.5rem;

  &:hover {
    background-color: var(--hover);

    .preview-card__title {
      color: var(--color);
    }
  }
}

.preview-card__title {
  font-size: 1.6em;
}
