---
import { getCollection } from "astro:content";
import FlexLayout from "~/layouts/FlexLayout.astro";
import Section from "~/components/layout/Section.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<FlexLayout>
	<Section>
		<div class="divide-y">
			{posts.map((post) => <PostPreview slug={post.id} post={post.data} />)}
		</div>
	</Section>
</FlexLayout>
