---
import { getCollection } from "astro:content";
import Section from "../../components/Section.astro";
import FlexLayout from "~/layouts/FlexLayout.astro";
import { PostPreview } from "~/components/interactive/post-preview";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

---

<FlexLayout>
	<Section>
		<div class="split">
			{posts.map((post) => <PostPreview post={post.data} />)}
		</div>
	</Section>
</FlexLayout>
