.button {
    background-color: rgba(var(--scale-100-rgb), 0.1);
    color: var(--scale-100);
    padding: 6px;
    border: 0;
}

.slider {
    padding: 6px;
    border-radius: 0;
    background-color: transparent;
    border: 0;
}

.slider:hover {
    background-color: var(--scale-700);
}

.slider-selected {
    padding: 6px;
    border-radius: 0;
    background-color: var(--scale-400);
    border: 0;
}

.divide-y>*:not(:last-child) {
    border-bottom: 1px solid var(--border);
}

.divide-x>*:not(:last-child) {
    border-right: 1px solid var(--border);
}


/* Font Styling */
.sans {
    font-family: "Satoshi", sans-serif;
}

.selector {
    font-family: "Satoshi", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--scale-50);
}
