<div class="section">
	<div class="section__inner">
		<slot />
	</div>
</div>

<style lang="scss">
	@use "~/styles/abstracts/variables" as *;

	.section {
		border-top: $border;
		width: 100%;

		&:last-of-type,
		&:only-of-type {
			border-bottom: $border;
		}

		& > .section__inner {
			margin: 0px calc(10vw + var(--page-margin));
			background-color: var(--background);
			border-left: $border;
			border-right: $border;
			height: 100%;

			@media (max-width: 768px) {
				margin: 0px calc(10vw + var(--page-margin-mobile));
			}
		}
	}
</style>
