---
import SplitSection from "../components/home/SplitSection.astro";
import Section from "../components/Section.astro";
import FlexLayout from "../layouts/FlexLayout.astro";
import Bluesky from "../components/icons/bluesky.svg";
import LinkedIn from "../components/icons/linkedin.svg";
import Email from "../components/icons/email.svg";
import Github from "../components/icons/github.svg";
import ContactLarge from "~/components/ContactLarge.astro";
---

<FlexLayout>
	<Section grow>
		<SplitSection>
			<div class="flex-column border-right">
				<ContactLarge href="https://bsky.app/profile/callumkloos.dev">
					<Bluesky slot="icon" />
					Bluesky
				</ContactLarge>
				<ContactLarge href="https://www.linkedin.com/in/callum-kloos/">
					<LinkedIn slot="icon" />
					LinkedIn
				</ContactLarge>
				<ContactLarge href="mailto:callumkloos@gmail.com">
					<Email slot="icon" />
					Email
				</ContactLarge>
				<ContactLarge href="https://github.com/Callumk7">
					<Github slot="icon" />
					Github
				</ContactLarge>
			</div>
			<div class="p-4">
				<h4 class="pb-1">Lets Talk 🤙</h4>
				I am a self taught web developer who can help you with many different problems, so
				lets talk! You can react me at <a class="link" href="mailto:callumkloos@gmail.com"
					>callumkloos@gmail.com</a
				> or on any of the social platforms listed here. Together we can make the web a better
				place.
			</div>
		</SplitSection>
	</Section>
</FlexLayout>
