---
import FlexLayout from "~/layouts/FlexLayout.astro";
import TextRow from "~/components/home/TextRow.astro";
import Section from "~/components/layout/Section.astro";
import ExperienceCard from "~/components/experience/ExperienceCard.astro";

const technicalSkills = [
	"HTML5",
	"CSS3",
	"JavaScript (ES6+)",
	"TypeScript",
	"React",
	"Node.js",
	"Express",
	"Git",
	"Responsive Web Design",
	"Database Management, (SQL)",
];

const productSkills = [
	"Agile",
	"Scrum",
	"User Research",
	"Wireframing and Prototyping",
	"User Story Development",
	"Product Roadmapping",
	"Stakeholder Management",
];

const softSkills = [
	"Leadership",
	"Cross team collaboration",
	"Problem Solving",
	"Project Management",
];
---

<FlexLayout>
	<Section>
		<div class="profile">
			<h2>Professional Profile</h2>
			<p>
				Detail-orientated Junior Web Developer with a unique background in Product
				Management and UX Design. Leveraging comprehensive understanding of the product
				development lifecycle to create user-centered web solutions. Strong
				problem-solving abilities with a passion for clean efficient code and intuitive
				user experiences.
			</p>
			<table class="contact">
				<tr>
					<td>
						<strong>Email</strong>
					</td>
					<td>
						<a class="link" href="mailto:callumkloos@gmail.com">callumkloos@gmail.com</a>
					</td>
				</tr>
				<tr>
					<td>
						<strong>Bluesky</strong>
					</td>
					<td>
						<a
							href="https://bsky.app/profile/callumkloos.dev"
							class="link"
							target="_blank"
							>callumkloos.dev
						</a>
					</td>
				</tr>
			</table>
		</div>
	</Section>
	<Section>
		<div class="grid-split-wide">
			<div class="border-right padding-2">
				<h4>Skills</h4>
				<h5>Technical</h5>
				<div class="tag-container">
					{technicalSkills.map((skill) => <span class="tag">{skill}</span>)}
				</div>
				<h5>Product and UX</h5>
				<div class="tag-container">
					{productSkills.map((skill) => <span class="tag">{skill}</span>)}
				</div>
				<h5>Professional</h5>
				<div class="tag-container">
					{softSkills.map((skill) => <span class="tag">{skill}</span>)}
				</div>
			</div>
			<div>
				<TextRow>
					<h3>Professional Experience</h3>
				</TextRow>
				<hr />
				<ExperienceCard
					title="Web Development Training & Projects | Self-directed Learning"
					companyName="Freelance"
					startDate={new Date("2023-01-01")}
				>
					<div>
						<p>
							Committed to intensive self-directed learning to transition into web
							development:
						</p>
						<ul>
							<li>
								Completed comprehensive web development bootcamp covering front-end and
								back-end technologies
							</li>
							<li>
								Developed a portfolio of 5 responsive websites showcasing progressive
								skill development
							</li>
							<li>
								Created a full-stack e-commerce application using React.js, Node.js, and
								MongoDB
							</li>
							<li>
								Contributed to open-source projects to gain collaborative development
								experience
							</li>
							<li>
								Participated in coding challenges and hackathons to strengthen
								problem-solving abilities
							</li>
						</ul>
					</div>
				</ExperienceCard>
				<ExperienceCard
					title="React Developer"
					companyName="Freelance"
					startDate={new Date("2020-01-01")}
				>
					Pariatur ex ex est nisi nisi deserunt duis velit ex adipisicing incididunt.
					Incididunt qui deserunt veniam amet laborum veniam in laborum. Ut dolor nulla
					veniam. Ex cupidatat deserunt elit enim. Eu id culpa in dolor ex. Est irure nisi
					mollit ut adipisicing deserunt velit esse fugiat velit. Qui esse laboris aute
					cupidatat enim aliquip in minim voluptate enim.
				</ExperienceCard>
				<ExperienceCard
					title="React Developer"
					companyName="Freelance"
					startDate={new Date("2020-01-01")}
				>
					Pariatur ex ex est nisi nisi deserunt duis velit ex adipisicing incididunt.
					Incididunt qui deserunt veniam amet laborum veniam in laborum. Ut dolor nulla
					veniam. Ex cupidatat deserunt elit enim. Eu id culpa in dolor ex. Est irure nisi
					mollit ut adipisicing deserunt velit esse fugiat velit. Qui esse laboris aute
					cupidatat enim aliquip in minim voluptate enim.
				</ExperienceCard>
				<hr />
				<TextRow>
					<h3>Education</h3>
				</TextRow>
				<hr />
				<ExperienceCard
					title="React Developer"
					companyName="Freelance"
					startDate={new Date("2020-01-01")}
				>
					Pariatur ex ex est nisi nisi deserunt duis velit ex adipisicing incididunt.
					Incididunt qui deserunt veniam amet laborum veniam in laborum. Ut dolor nulla
					veniam. Ex cupidatat deserunt elit enim. Eu id culpa in dolor ex. Est irure nisi
					mollit ut adipisicing deserunt velit esse fugiat velit. Qui esse laboris aute
					cupidatat enim aliquip in minim voluptate enim.
				</ExperienceCard>
			</div>
		</div>
	</Section>

	<style lang="scss">
		h3 {
			margin-top: 1rem;
			margin-bottom: 0.5rem;
		}

		h5 {
			margin-top: 0.9rem;
		}

		.profile {
			padding: 1rem;
			display: flex;
			flex-direction: column;
			gap: var(--spacing-small);
		}

		.contact {
			width: 40%;
			margin-left: auto;
			margin-right: 1.5rem;

			@media (max-width: 768px) {
				width: 100%;
			}

			& > :not(:last-child) {
				margin-bottom: 0.3rem;
			}
		}

		.grid-split-wide {
			display: grid;
			grid-template-columns: 1fr 2fr;

			> :first-child {
				grid-column: 1;
			}

			> :last-child {
				grid-column: 2;
			}

			@media (max-width: 1024px) {
				grid-template-columns: 1fr;

				> :first-child {
					grid-column: 1;
				}

				> :last-child {
					grid-column: 1;
				}
			}
		}
	</style>
</FlexLayout>
