---
import FlexLayout from "~/layouts/FlexLayout.astro";
import TextRow from "~/components/home/TextRow.astro";
import Section from "~/components/layout/Section.astro";
import ExperienceCard from "~/components/experience/ExperienceCard.astro";

const technicalSkills = [
	"HTML5",
	"CSS3",
	"JavaScript (ES6+)",
	"TypeScript",
	"React",
	"Node.js",
	"Express",
	"Git",
	"Responsive Web Design",
	"Database Management, (SQL)",
];

const productSkills = [
	"Agile",
	"Scrum",
	"User Research",
	"Wireframing and Prototyping",
	"User Story Development",
	"Product Roadmapping",
	"Stakeholder Management",
];

const softSkills = [
	"Leadership",
	"Cross team collaboration",
	"Problem Solving",
	"Project Management",
];
---

<FlexLayout>
	<Section>
		<div class="profile">
			<h2>Professional Profile</h2>
			<p>
				Detail-orientated Web Developer with a unique background in Product Management and
				UX Design. I leverage my comprehensive understanding of the product development
				lifecycle to create user-focussed web solutions. I strive to write clean,
				efficient code and create intuitive user experiences.
			</p>
			<table class="contact">
				<tr>
					<td>
						<strong>Email</strong>
					</td>
					<td>
						<a class="link" href="mailto:callumkloos@gmail.com">callumkloos@gmail.com</a>
					</td>
				</tr>
				<tr>
					<td>
						<strong>Bluesky</strong>
					</td>
					<td>
						<a
							href="https://bsky.app/profile/callumkloos.dev"
							class="link"
							target="_blank"
							>callumkloos.dev
						</a>
					</td>
				</tr>
			</table>
		</div>
	</Section>
	<Section>
		<div class="grid-split-wide">
			<div class="border-right padding-2">
				<h4>Skills</h4>
				<h5>Technical</h5>
				<div class="tag-container">
					{technicalSkills.map((skill) => <span class="tag">{skill}</span>)}
				</div>
				<h5>Product and UX</h5>
				<div class="tag-container">
					{productSkills.map((skill) => <span class="tag">{skill}</span>)}
				</div>
				<h5>Professional</h5>
				<div class="tag-container">
					{softSkills.map((skill) => <span class="tag">{skill}</span>)}
				</div>
			</div>
			<div>
				<TextRow>
					<h3>Professional Experience</h3>
				</TextRow>
				<hr />
				<ExperienceCard
					title="Freelance Web Development"
					companyName="Freelance"
					startDate={new Date("2025-04-01")}
					endDate={new Date("2025-10-15")}
				>
					Worked in a two man design and developer team to modernise a legacy ColdFusion
					application in the enterprise time-keeping space. Focus was on creating
					composable components using pure HTML, Javascript, and a custom BEM-based CSS
					style structure. Completed implementation of a full redesign of the
					client-facing app.
				</ExperienceCard>
				<ExperienceCard
					title="Freelance Web Development"
					companyName="Self-directed Learning"
					startDate={new Date("2024-04-01")}
					endDate={new Date("2025-04-01")}
				>
					<p>
						Dedicated extensive hours into developing a strong proficiency in JavaScript,
						TypeScript, HTML, CSS, and React. Some projects I worked on include:
					</p>
					<ul>
						<li>playQ.xyz</li>
						<li>Game Master</li>
						<li>This Little Piggy Richmond</li>
					</ul>
				</ExperienceCard>
				<ExperienceCard
					title="UX and Product Design"
					companyName="Cambrian Games"
					startDate={new Date("2022-04-02")}
					endDate={new Date("2023-06-15")}
				>
					<p>
						Lead UX research and design at an early stage startup, which was building a
						collaborative AI-driven game building platform.
					</p>
					<ul>
						<li>
							Conducted over 30 user interviews to develop the companies key user personas
						</li>
						<li>
							Designed and tested the MVP platform, which was used to create over 400
							games
						</li>
					</ul>
				</ExperienceCard>
				<ExperienceCard
					title="Product Manager"
					companyName="Receipt Bank (now Dext)"
					startDate={new Date("2017-06-14")}
					endDate={new Date("2020-09-01")}
				>
					<p>
						Receipt Bank (now Dext) is a fast paced, high growth company using artificial
						intelligence to disrupt the accounting space.
					</p>
					<ul>
						<li>Led a team of 5 developers and 2 designers</li>
						<li>Grew product led trial conversion from 0 - 15%</li>
						<li>Grew adoption of automated document collection to over 60% from 0</li>
						<li>
							Strongly advocated for and developed user-centric adoption and engagement
							metrics to inform and drive product strategy
						</li>
					</ul>
				</ExperienceCard>
				<hr />
				<TextRow>
					<h3>Education</h3>
				</TextRow>
				<hr />
				<ExperienceCard
					title="MEng Mechanical Engineering (With Merit)"
					companyName="University of Strathclyde, Glasgow"
					startDate={new Date("2009-09-01")}
					endDate={new Date("2015-06-15")}
				/>
				<ExperienceCard
					title="UX Immersion Course"
					companyName="CareerFoundry"
					startDate={new Date("2020-11-01")}
					endDate={new Date("2021-06-01")}
				/>
			</div>
		</div>
	</Section>

	<style lang="scss">
		h3 {
			margin-top: 1rem;
			margin-bottom: 0.5rem;
		}

		h5 {
			margin-top: 0.9rem;
		}

		.profile {
			padding: 1rem;
			display: flex;
			flex-direction: column;
			gap: var(--spacing-small);
		}

		.contact {
			width: 40%;
			margin-left: auto;
			margin-right: 1.5rem;

			@media (max-width: 768px) {
				width: 100%;
			}

			& > :not(:last-child) {
				margin-bottom: 0.3rem;
			}
		}

		.grid-split-wide {
			display: grid;
			grid-template-columns: 1fr 2fr;

			> :first-child {
				grid-column: 1;
			}

			> :last-child {
				grid-column: 2;
			}

			@media (max-width: 1024px) {
				grid-template-columns: 1fr;

				> :first-child {
					grid-column: 1;
				}

				> :last-child {
					grid-column: 1;
				}
			}
		}
	</style>
</FlexLayout>
