---
import ContactRow from "~/components/home/ContactRow.astro";
import { ProjectPicker } from "~/components/interactive/project-picker";
import Latest from "~/components/home/Latest.astro";
import FlexLayout from "~/layouts/FlexLayout.astro";
import { getCollection } from "astro:content";
import TextRow from "~/components/home/TextRow.astro";
import { Section } from "~/components/layout/section";
import { About } from "~/components/sections/about";

const projects = await getCollection("projects").then((projects) =>
	projects.map((proj) => proj.data),
);
---

<FlexLayout>
	<Section grow>
		<About />
	</Section>
	<Section shrink>
		<ContactRow />
	</Section>
	<Section grow>
		<Latest projects={projects} />
	</Section>
	<Section shrink>
		<TextRow>I have experience with modern tech</TextRow>
	</Section>
	<Section shrink>
		<ProjectPicker projects={projects} client:load />
	</Section>
</FlexLayout>
