---
import About from "~/components/home/About.astro";
import ContactRow from "~/components/home/ContactRow.astro";
import { ProjectPicker } from "~/components/interactive/project-picker";
import Latest from "~/components/home/Latest.astro";
import Projects from "~/components/home/Projects.astro";
import Section from "~/components/Section.astro";
import FlexLayout from "~/layouts/FlexLayout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects").then((projects) =>
	projects.map((proj) => proj.data),
);

---

<FlexLayout>
	<Section grow>
		<About />
	</Section>
	<Section shrink>
		<ContactRow />
	</Section>
	<Section grow>
		<Latest projects={projects} />
	</Section>
	<Section shrink>
		<div class="bar">
			<p class="no-margin">I have experience with modern tech</p>
		</div>
	</Section>
	<Section shrink type="split">
		<ProjectPicker projects={projects} client:load />
	</Section>
</FlexLayout>

<style>
	.bar {
		text-align: center;
		width: 100%;
	}
	.no-margin {
		margin: 0;
		padding: 16px 0;
	}
</style>
