---
import About from "../components/home/About.astro";
import ContactRow from "../components/home/ContactRow.astro";
import { ProjectPicker } from "../components/home/interactive/project-picker";
import Latest from "../components/home/Latest.astro";
import Projects from "../components/home/Projects.astro";
import SplitSection from "../components/home/SplitSection.astro";
import Section from "../components/Section.astro";
import FlexLayout from "../layouts/FlexLayout.astro";
const articles = [
	{
		id: 1,
		title: "Exploring the Universe",
		description:
			"An in-depth look at the latest discoveries in space exploration and astronomy.",
	},
	{
		id: 2,
		title: "The Future of Technology",
		description:
			"A comprehensive overview of emerging technologies that will shape our future.",
	},
	{
		id: 3,
		title: "Healthy Living Tips",
		description:
			"Practical advice on maintaining a balanced diet and a healthy lifestyle.",
	},
	{
		id: 4,
		title: "Travel Destinations for 2025",
		description:
			"A guide to the top travel destinations to visit this year, featuring hidden gems and popular spots.",
	},
	{
		id: 5,
		title: "The Impact of Climate Change",
		description:
			"An analysis of the effects of climate change on our planet and what can be done to mitigate it.",
	},
	{
		id: 6,
		title: "Understanding Mental Health",
		description:
			"An informative piece discussing the importance of mental health awareness and resources available.",
	},
];
---

<FlexLayout>
	<Section grow>
		<About />
	</Section>
	<Section shrink>
		<ContactRow />
	</Section>
	<Section grow>
		<Latest articles={articles} />
	</Section>
	<Section shrink>
		<div class="bar">
			<p class="no-margin">I have experience with modern tech</p>
		</div>
	</Section>
	<Section shrink>
		<ProjectPicker
			projects={articles}
			client:load
		/>
	</Section>
	<Section>
		<SplitSection>
			<Projects featured={articles.slice(0, 3)} />
		</SplitSection>
	</Section>
</FlexLayout>

<style>
	.bar {
		text-align: center;
		width: 100%;
	}
	.no-margin {
		margin: 0;
		padding: 16px 0;
	}
</style>
