---
import { ProjectPicker } from "~/components/interactive/project-picker";
import FlexLayout from "~/layouts/FlexLayout.astro";
import { getCollection } from "astro:content";
import { Section } from "~/components/layout/section";
import { About } from "~/components/sections/about";
import { FlexRow } from "~/components/sections/flex-row";
import ContactButton from "~/components/home/ContactButton.astro";

import Bluesky from "~/components/icons/bluesky.svg";
import LinkedIn from "~/components/icons/linkedin.svg";
import Email from "~/components/icons/email.svg";
import Github from "~/components/icons/github.svg";

import AstroIcon from "~/components/icons/astro.svg";
import React from "~/components/icons/react.svg";
import Next from "~/components/icons/next.svg";
import Remix from "~/components/icons/remix.svg";
import Node from "~/components/icons/node.svg";
import Typescript from "~/components/icons/typescript.svg";

const projects = await getCollection("projects").then((projects) =>
	projects.map((proj) => proj.data),
);
---

<FlexLayout>
	<Section>
		<About />
	</Section>
	<Section shrink>
		<FlexRow responsive>
			<ContactButton href="https://bsky.app/profile/callumkloos.dev" label="Bluesky">
				<Bluesky class="width-icon" />
			</ContactButton>
			<ContactButton href="https://www.linkedin.com/in/callum-kloos/" label="LinkedIn">
				<LinkedIn class="width-icon" />
			</ContactButton>
			<ContactButton href="https://github.com/Callumk7" label="Github">
				<Github class="width-icon" />
			</ContactButton>
			<ContactButton href="mailto:callumkloos@gmail.com" label="Email">
				<Email class="width-icon" />
			</ContactButton>
		</FlexRow>
	</Section>
	<Section
		header={{
			title: "Projects",
			description: "Some of the work I have done in the past.",
		}}
	>
		<ProjectPicker client:visible projects={projects} />
	</Section>
	<Section header={{ title: "My Toolbelt" }} align="right">
		<FlexRow responsive>
			<div class="icon-large">
				<React class="icon-large__icon" />
				<span class="padding-1">React</span>
			</div>
			<div class="icon-large">
				<Remix class="icon-large__icon" />
				<span class="padding-1">Remix</span>
			</div>
			<div class="icon-large">
				<Next class="icon-large__icon" />
				<span class="padding-1">NextJS</span>
			</div>
			<div class="icon-large">
				<Node class="icon-large__icon" />
				<span class="padding-1">NodeJS</span>
			</div>
			<div class="icon-large">
				<AstroIcon class="icon-large__icon" />
				<span class="padding-1">Astro</span>
			</div>
			<div class="icon-large">
				<Typescript class="icon-large__icon" />
				<span class="padding-1">Typescript</span>
			</div>
		</FlexRow>
	</Section>
</FlexLayout>
