<div class="layout">
	<div class="one">
		<h2>Lets Do This</h2>
		<div>
			<button>Work With Me</button>
			<button>Hire Me</button>
		</div>
	</div>
	<div class="two">
		<h1>I am a devloper and designer, and I like colours</h1>
		<p>
			Qui eiusmod deserunt qui duis magna laboris aliquip ad labore sint sint esse laboris
			ullamco ipsum. Do voluptate eu adipisicing labore laboris eu anim. Laborum sint enim
			fugiat. Commodo elit proident magna. Excepteur amet esse aute. Excepteur voluptate
			deserunt amet aliquip nostrud ad in reprehenderit eu eiusmod laboris nostrud non.
			Irure ad nulla do nostrud deserunt incididunt magna nostrud deserunt ex et elit
			deserunt ad. Aliquip est veniam aliquip enim aute consequat laborum quis ut
			consectetur do aliqua adipisicing. Eiusmod duis aliquip esse nostrud velit eiusmod
			officia eu qui et.
		</p>
	</div>
</div>

<style>
	.layout {
		padding: 40px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		.one {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}

		.two {
			grid-column: span 2;
		}
	}

	button {
		padding: 12px;
		background: var(--scale-500);
		border: 0px;
	}
</style>
