---
import type { Project } from "~/types";

interface Props {
	project: Project;
}

const { project } = Astro.props;
---

<a href={`/projects/${project.slug}`} class="preview-card">
	<div>
		<h3 class="title">{project.name}</h3>
	</div>
	<p>{project.description}</p>
</a>

<style>
	a:not(:last-child) {
		border-bottom: 1px solid var(--border);
	}
</style>
