---
import Section from "~/components/layout/Section.astro";
import Bluesky from "../../components/icons/bluesky.svg";
import LinkedIn from "../../components/icons/linkedin.svg";
import Email from "../../components/icons/email.svg";
import Github from "../../components/icons/github.svg";
import ContactButton from "./ContactButton.astro";
---

<Section>
	<div>
		<ContactButton href="https://bsky.app/profile/callumkloos.dev" label="Bluesky">
			<Bluesky class="width-icon" />
		</ContactButton>
		<ContactButton href="https://www.linkedin.com/in/callum-kloos/" label="LinkedIn">
			<LinkedIn class="width-icon" />
		</ContactButton>
		<ContactButton href="https://github.com/Callumk7" label="Github">
			<Github class="width-icon" />
		</ContactButton>
		<ContactButton href="mailto:callumkloos@gmail.com" label="Email">
			<Email class="width-icon" />
		</ContactButton>
	</div>
</Section>

<style lang="scss">
	@use "~/styles/abstracts/variables" as *;

	div {
		display: flex;
		width: 100%;
		justify-content: stretch;

		@media (max-width: 1024px) {
			flex-direction: column;
		}
	}

	.width-icon {
		width: 24px;
		min-width: 24px;
	}
</style>
