---
interface Props {
	href: string;
	label: string;
	className?: string;
}

const { href, label, className } = Astro.props;
---

<a href={href} target="_blank" class:list={["block-button", className]}>
	<div class="block-button__content">
		<slot />
		<span class="block-button__label">{label}</span>
	</div>
</a>
