---
import Bluesky from "../../components/icons/bluesky.svg";
import LinkedIn from "../../components/icons/linkedin.svg";
import Email from "../../components/icons/email.svg";
import Github from "../../components/icons/github.svg";
import ContactButton from "./ContactButton.astro";
---

<div class="contact-row w-100">
	<ContactButton label="Bluesky" className="swipe-primary">
		<Bluesky />
	</ContactButton>
	<ContactButton label="LinkedIn" className="swipe-secondary">
		<LinkedIn />
	</ContactButton>
	<ContactButton label="Github" className="swipe-tertiary">
		<Github />
	</ContactButton>
	<ContactButton label="Email" className="swipe-primary">
		<Email />
	</ContactButton>
</div>

{/* Figuring out width issues */}
<style>
	.contact-row {
		display: flex;
	}
	@media (max-width: 1024px) {
		.contact-row {
			flex-direction: column;
		}
	}
</style>
