---
interface Props {
	label: string;
	className?: string;
}

const { label, className } = Astro.props;
---

<div class:list={["contact-button hover-swipe", className]}>
	<div>
		<slot />
		<span>{label}</span>
	</div>
</div>

<style>
	.contact-button {
		padding: 20px;
		flex-grow: 1;
		width: 100%;
		box-sizing: border-box;
	}
	@media (min-width: 1024px) {
		.contact-button:not(:first-child) {
			border-left: 1px solid var(--border);
		}
	}

	@media (max-width: 1024px) {
		.contact-button:not(:first-child) {
			border-top: 1px solid var(--border);
		}
	}
</style>
