---
interface Props {
	href: string;
	label: string;
	className?: string;
}

const { href, label, className } = Astro.props;
---

<a href={href} target="_blank" class:list={["block-button", className]}>
	<div class="block-button__content">
		<slot />
		<span class="block-button__label">{label}</span>
	</div>
</a>

<style lang="scss">
	@use "~/styles/abstracts/variables" as *;

	a {
		padding: 2rem;
		flex-grow: 1;

		@media (min-width: 1024px) {
			&:not(:last-child) {
				border-right: $border;
			}
		}

		@media (max-width: 1024px) {
			&:not(:last-child) {
				border-bottom: $border;
			}
		}
	}
</style>
