---
interface Props {
	href: string;
	label: string;
	className?: string;
}

const { href, label, className } = Astro.props;
---

<a href={href} target="_blank" class:list={["hover-swipe text-large", className]}>
	<div class="v-center">
		<slot />
		<span class="ml-2">{label}</span>
	</div>
</a>
