---
interface Props {
	label: string;
	className?: string;
}

const { label, className } = Astro.props;
---

<div class:list={["hover-swipe text-large", className]}>
	<div class="v-center">
		<slot />
		<span class="ml-2">{label}</span>
	</div>
</div>
