<div class="featured">
	<h2>Featured</h2>
</div>

<style>
.featured {
	padding: 24px;
	background-color: var(--scale-200);
	h2 {
		text-decoration: underline;
		text-decoration-color: var(--scale-800);
	}
}
</style>
