---
import type { Project } from "~/types";
import ArticlePreview from "./ArticlePreview.astro";

interface Props {
	projects: Project[];
}
const { projects } = Astro.props;
---

<div class="latest-grid">
	{projects.map((proj) => <ArticlePreview project={proj} />)}
</div>

<style>
	.latest-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 1024px) {
		.latest-grid {
			grid-template-columns: 1fr;
		}
	}
</style>
