---
interface Props {
	articles: {
		title: string;
		description: string;
	}[];
}
const { articles } = Astro.props;
---

<div class="latest-grid">
	{
		articles.map((article) => (
			<div class="article">
				<div>
					<h3>{article.title}</h3>
					<a href="place">Read more.</a>
				</div>
				<p>{article.description}</p>
			</div>
		))
	}
</div>

<style>
	.latest-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 9px;
	}

	.article {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 20px;

		h3 {
			font-size: 1.6em;
			text-decoration: underline;
			text-decoration-color: var(--scale-800);
		}
	}
</style>
