---
import ArticlePreview from "./ArticlePreview.astro";

interface Props {
	articles: {
		title: string;
		description: string;
	}[];
}
const { articles } = Astro.props;
---

<div class="latest-grid">
	{articles.map((article) => <ArticlePreview article={article} />)}
</div>

<style>
	.latest-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 9px;
	}
</style>
