---
import type { Project } from "~/types";
import ArticlePreview from "./ArticlePreview.astro";

interface Props {
	featured: Project[]
}

const { featured } = Astro.props;
---

<div class="flex-column">
	{featured.map((project) => <ArticlePreview project={project} />)}
</div>
