---
import ArticlePreview from "./ArticlePreview.astro";

interface Props {
	featured: { title: string; description: string }[];
}

const { featured } = Astro.props;
---

<div class="flex-col">
	{featured.map((article) => <ArticlePreview article={article} />)}
</div>

<style>
	.flex-col {
		display: flex;
		flex-direction: column;
	}
</style>
