---
import ArticlePreview from "./ArticlePreview.astro";

interface Props {
	featured: { title: string; description: string }[];
}

const { featured } = Astro.props;
---

<div class="flex-column">
	{featured.map((article) => <ArticlePreview article={article} />)}
</div>
