---
import Section from "~/components/layout/Section.astro";
import HeadingBlock from "~/components/HeadingBlock.astro";
---

<HeadingBlock title="Hi, I'm Callum Kloos" subtitle="Full stack dev" />

<Section>
	<div class="subtitle">
		<p>I build web apps, squash bugs, and occasionally hike mountains.</p>
	</div>
</Section>

<style lang="scss">
	.subtitle {
		padding: var(--spacing-large);
	}
</style>
