---
import Section from "../layout/Section.astro";
import Input from "../ui/Input.astro";
---

<Section>
	<div class="heading">
		<h2>Contact</h2>
		<p>Lets talk about your next project.</p>
	</div>
	<div class="contact-form">
		<Input label="Name" name="name" />
		<Input label="Email" name="email" />
		<Input label="Message" name="message" textarea />
		<button>Send</button>
	</div>
</Section>

<style lang="scss">
	@use "~/styles/abstracts/variables" as *;

	.heading {
		padding: var(--spacing);
		border-bottom: $border;
	}

	.contact-form {
		display: flex;
		flex-direction: column;
		gap: var(--spacing);
		padding: var(--spacing-large);
	}

	button {
		padding: var(--spacing-small) var(--spacing-large);
		background-color: var(--color);
	}
</style>
