---
interface Props {
	href: string;
	className?: string;
}

const { href, className } = Astro.props;
---

<a href={href} target="_blank" class:list={["block-button", className]}>
	<div class="block-button__content">
		<slot name="icon" />
		<span class="ml-2 block-button__label"><slot /></span>
	</div>
</a>
