<footer>
	<p>
		Made with love by <a class="link" href="https://bsky.app/profile/callumkloos.dev"
			>Callum Kloos</a
		>, using <a href="https://astro.build" class="link" target="_blank">Astro</a>, and a
		little sprinkling of <a href="https://solidjs.com" class="link" target="_blank"
			>Solid</a
		>
	</p>
</footer>

<style lang="scss">
	footer {
		display: flex;
		flex-direction: column;
		background: var(--scale-900);
		padding: 2rem;
		width: 100%;
		height: 240px;
		justify-self: end;

		p {
			margin-top: auto;
		}
	}
</style>
