---
const links = [
	{
		label: "Home",
		href: "/",
	},
	{
		label: "Projects",
		href: "/projects",
	},
	{
		label: "Blog",
		href: "/blog",
	},
	{
		label: "Contact",
		href: "/contact",
	},
	{
		label: "Experience",
		href: "/experience",
	},
];
---

<nav class="d-flex justify-content-space-between w-100 p-4">
	<span class="logo">callumKloos</span>
	<ul class="links">
		{
			links.map((link) => (
				<button class="button">
					<a href={link.href}>{link.label}</a>
				</button>
			))
		}
	</ul>
</nav>

<style>
	* {
		box-sizing: border-box;
	}
	nav {
		place-items: center;
	}

	.logo {
		font-weight: 900;
		color: var(--scale-100);
		font-family: "Space Mono";
		font-size: 32px;
	}

	ul {
		display: flex;
		gap: 16px;

		li {
			list-style-type: none;
		}
	}
</style>
