---
import { AnimationControls } from "~/components/animations";
import { ResponsiveNav } from "~/components/navigation/ResponsiveNav";

const pathname = Astro.url.pathname;
const links = [
	{
		label: "Home",
		href: "/",
	},
	{
		label: "About",
		href: "/about/",
	},
	{
		label: "Projects",
		href: "/projects/",
	},
	{
		label: "Experience",
		href: "/experience/",
	},
	{
		label: "Contact",
		href: "/contact/",
	},
];
---

<nav>
	<ResponsiveNav links={links} pathname={pathname} client:load />
	<AnimationControls client:only="solid-js" />
</nav>

<style lang="scss">
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 1rem;
		gap: 1rem;
		flex-wrap: wrap;
	}
</style>
