* {
  box-sizing: border-box;
}

nav {
  place-items: center;
}

.logo {
  color: var(--scale-100);
  font-weight: 600;
  font-size: 32px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 16px;

}

li {
  list-style-type: none;
}

.active {
  background-color: var(--scale-700);
}
