---
interface Props {
	grow?: boolean;
	shrink?: boolean;
	type?: "single" | "split";
}

let { grow, shrink, type } = Astro.props;
if (!type) type = "single";
---

<div class:list={["section", { "flex-grow": grow, "flex-shrink": shrink }]}>
	<div class={type === "split" ? "split" : undefined}>
		<slot />
	</div>
</div>
