---
interface Props {
	grow?: boolean;
	shrink?: boolean;
	colour?: string;
}

const { grow, shrink, colour } = Astro.props;
---

<div class:list={["section", { grow: grow, shrink: shrink }, colour]}>
	<div class="sub-section">
		<slot />
	</div>
</div>
