---
import FixedLayout from "~/layouts/FixedLayout.astro";
import { getCollection } from "astro:content";
import { ProjectPage } from "~/components/interactive/project-page";
import Section from "~/components/layout/Section.astro";
import HeadingBlock from "~/components/HeadingBlock.astro";

const projects = await getCollection("projects");
---

<FixedLayout>
	<HeadingBlock title="Some Projects" subtitle="I've worked on a few projects" />
	<Section>
		<ProjectPage client:load projects={projects.map((proj) => proj.data)} />
	</Section>
</FixedLayout>
