---
import FlexLayout from "~/layouts/FlexLayout.astro";
import { getCollection } from "astro:content";
import { ProjectPage } from "~/components/interactive/project-page";
import { Section } from "~/components/layout/section";

const projects = await getCollection("projects");
---

<FlexLayout>
	<Section
		header={{
			title: "My Projects",
			description:
				"I specialise in full stack Typescript projects utilising Node.js, Hono, and Remix / React Router.",
		}}
	>
		<ProjectPage client:load projects={projects.map((proj) => proj.data)} />
	</Section>
</FlexLayout>
