---
import Section from "~/components/Section.astro";
import FlexLayout from "~/layouts/FlexLayout.astro";
import { getCollection } from "astro:content";
import { ProjectPage } from "~/components/interactive/project-page";
import { SearchContainer } from "~/components/interactive/search-container";

const projects = await getCollection("projects");
---

<FlexLayout>
	<Section>
		<h1>My Projects</h1>
		<p>
			Fugiat anim ullamco cillum Lorem sit velit sit cupidatat dolor labore sint eu elit.
			Culpa ullamco cillum elit dolore tempor anim cillum anim pariatur ullamco. Id magna
			incididunt ullamco ea eu pariatur aute minim et elit veniam sint deserunt.
			Incididunt est ullamco laboris commodo et Lorem commodo dolor esse magna consectetur
			duis. Incididunt consequat ad officia irure nostrud et aute quis nulla enim in
			nostrud pariatur mollit sunt.
		</p>
	</Section>
	<Section>
		<SearchContainer client:load projects={projects.map((proj) => proj.data)} />
	</Section>
	<Section>
		<ProjectPage client:load projects={projects.map((proj) => proj.data)} />
	</Section>
</FlexLayout>

<style>
	.m-0 {
		margin: 0;
	}
</style>
