---
import FlexLayout from "~/layouts/FlexLayout.astro";
import { getCollection } from "astro:content";
import { ProjectPage } from "~/components/interactive/project-page";
import Section from "~/components/layout/Section.astro";

const projects = await getCollection("projects");
---

<FlexLayout>
	<Section>
		<ProjectPage client:load projects={projects.map((proj) => proj.data)} />
	</Section>
</FlexLayout>
