---
interface Props {
	slug: string;
	title: string;
	description: string;
}

const { slug, title, description } = Astro.props;
---

<a href={`/blog/${slug}`}>
	<article>
		<h2>{title}</h2>
		<p>{description}</p>
	</article>
</a>

<style lang="scss">
	article {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		padding: 1em;
		background-color: var(--scale-100);
		border-radius: 12px;
		box-shadow: var(--box-shadow);
	}
	h2 {
		font-size: 1.2em;
	}
	p {
		font-size: 0.9em;
	}
</style>
