---
import BaseHead from "~/components/BaseHead.astro";
import { Header } from "~/components/header";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Footer from "~/components/Footer.astro";
const pathname = Astro.url.pathname;
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="h-full">
		<Header pathname={pathname} />
		<slot />
		<Footer />
	</body>
</html>
