---
import BaseHead from "~/components/BaseHead.astro";
import { Header } from "~/components/header";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Footer from "~/components/Footer.astro";
const pathname = Astro.url.pathname;
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="height-full">
		<Header pathname={pathname} />
		<div class="content">
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style>
	.height-full {
		min-height: 100vh;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.content {
		flex: 1 0 auto;
	}
</style>
