---
import type { CollectionEntry } from "astro:content";
import FlexLayout from "./FlexLayout.astro";
import { Section } from "~/components/layout/section";

import GithubIcon from "~/components/icons/github.svg";
import LinkIcon from "~/components/icons/link.svg";

type Props = CollectionEntry<"projects">["data"];

const { name, githubUrl, projectUrl } = Astro.props;
---

<FlexLayout>
	<Section>
		<article>
			<div class="prose">
				<div class="title">
					<h1>{name}</h1>
					<hr />
				</div>
				<a class="link" href={githubUrl}>
					<GithubIcon class="icon-link" />
					<span>Github</span>
				</a>
				<a class="link" href={projectUrl}>
					<LinkIcon class="icon-link" />
					<span>Project link</span>
				</a>
				<slot />
			</div>
		</article>
	</Section>
</FlexLayout>

<style>
	main {
		width: calc(100% - 2em);
		max-width: 100%;
		margin: 0;
	}
	.prose {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 1em;
		color: rgb(var(--gray-dark));
	}
	.title {
		margin-bottom: 1em;
		padding: 1em 0;
		text-align: center;
		line-height: 1;
	}
	.title h1 {
		margin: 0 0 0.5em 0;
	}
	.date {
		margin-bottom: 0.5em;
		color: rgb(var(--gray));
	}
	.last-updated-on {
		font-style: italic;
	}
	.icon-link {
		width: 24px;
		height: 24px;
	}
	.link {
		display: flex;
		align-items: center;

		gap: 12px;
	}
</style>
